/* You can add global styles to this file, and also import other style files */

$alfa-romeo: #900000;
$alpine: #0090FF;
$aston-martin: #006F62;
$alphatauri: #2B4562;
$ferrari: #DC0000;
$haas: #FFFFFF;
$mclaren: #FF9800;
$mercedes: #00D2BE;
$red-bull: #0600EF;
$williams: #005AFF;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

